[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
